#text {
  -webkit-transform: rotate(-90deg);
  color: rgb(255, 255, 255);
  margin: 76px 1px 1px auto;
}

#sms {
  margin: -76px 1px 1px auto;
  padding: 0px;
  border-style: solid;
  border-width: 0px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  list-style: outside none none;
  letter-spacing: normal;
  line-height: normal;
  text-decoration: none;
  vertical-align: baseline;
  white-space: normal;
  word-spacing: normal;
  background-repeat: repeat-x;
  background-position: left bottom;
  background-color: rgba(255, 0, 0, 0.543);
  border-color: transparent;
  border-radius: 30px;
  width: 40px;
  height: 152px;
  cursor: pointer;
  display: block;
  z-index: 107158;
  position: fixed;
  inset: 50% 0px auto auto;
}
